# Ignored Folders
/archetecture and mitigation docs/

# Python Cache & Build Artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.hatch/
build/
dist/
*.egg-info/
.eggs/

# IDE files
.vscode/
.idea/
